body.index{
    margin:0;
    padding: 0;
    background-image: url(./img/fundo.jpg)
}
body.produtos{
    margin: 0;
}
a:visited {
    color: inherit; 

}
a:link {
    text-decoration: none; 
    color: white
}

nav {
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    background-color: rgb(167, 112, 49);
    color: white;
    font-size: small;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    float: right;
    margin: 25px;
}


nav li {
    margin-left: 35px;
    list-style-type: none;
    margin-bottom: 15px;
}

#topo {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 252, 252);
    height: 600px;
    width: 100%;

}
#topo #lado-esq{
   background-color: rgb(255, 255, 255);
    width: 55%;
    margin-right: 0;
}

#topo .top_article {
    width: 45%; 
    margin-top: 60px;

    
}
#topo #lado-esq h1{
    margin: 75px;
    margin-bottom: 15px;
    

}
#topo #lado-esq p{
    margin-left: 95px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

#topo .top_article img {
    height: 540px;
    width: 100%;
    
}
#topo .top_article button{
    margin-top: 25px;
    margin-left: 55%;
    height: 50px;
    width: 270px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: rgb(54, 26, 26);
    color: white;
    cursor: pointer;
}
#topo .top_article button:hover{
    background: blueviolet;
}
#topo #lado-esq img{
    height: 35px;
    width: 65px;
    margin: 10px;
}
.slogan {
    background-color: black;
    padding: 10px;
    color: wheat;
    text-align: center;
    height: 350px;
}

#but{
    margin-left: 38%;
    margin-top: 35px;
    height: 50px;
    width: 360px;
    border: 5px solid white;
    border-radius: 35px;
    background-color: rgb(54, 26, 26);
    color: white;
    cursor: pointer;
}
#but:hover{
    background: blueviolet;
}
.avalia {
    display: flex;
    margin-bottom: 5px;
    height: 900px;
    margin-bottom: 0;
    justify-content: space-between;
    background-color: rgb(223, 210, 98);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    
}
.sobre{
    display: flex;
    margin-bottom: 10px;
    height: 550px;
    justify-content: space-between;
    background-color: rgb(153, 148, 95);
    clip-path: polygon(0 0px, 100% 0, 100% 100%, 0 80%);
}
.sobre img{
    height: 45px;
    margin-top: 95px; 
}
.avalia h3{
    margin-left:90px;
    font-size:large;
    margin-top: 37%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.8em;
    margin-bottom: 3px;
}

.avalia #lado p{
    margin-left: 90px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.1em;
    margin-top: 0;
    font-weight: bold;
}
.avalia #lado img{
    margin-left: 65px;
    margin-top: 90px;
}
#divi{
    margin-top: 20%;
    height: 55px;

}
#avaliacoes {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 25%;
    margin-right: 13%;

}
.avaliacao {
    width: 290px;
    text-align: center;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 35px;
    background-color: rgb(228, 228, 187);
    padding: 5px;
    height: 400px;
    margin:15px;
    font-size: 1.1em;
    
}
.avaliacao img {
    max-width: 55px;
    border: 3px solid black;
    border-radius: 35px;
    margin-top: 45px;
}

.avaliacao audio {
    width: 210px;
    height: 120px;
    
}

.avalia #botoes {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 65px;
    margin-left: -350px;
    margin-bottom: 75px;
}

.avalia #botoes button {
    background-color: rgb(54, 26, 26);
    border-radius: 100%;
    height: 25px;
    width: 25px;
}
footer{
    background-color: black;
    color: white;
    height: 320px;
    width: 100%;
    position: relative;
    clip-path: polygon(0 90px, 100% 0, 100% 100%, 0 100%);
    padding-top: 120px;
    margin: 0;
}
.footer{
    display: flex;
    margin: 25px;
    margin-left: 45px;
}
.produto-header{
    margin-top:60px ;
    height: 490px;
    width: 100%;
    margin-bottom: -60px;
}
.paos h1{
    position: relative;
    top: -250px;
    margin-left: 35%;
    color: white;
}
.produto {
    position: relative;
    margin-left: 115px;
    margin-top: 50px;
}

.corpo {
    display: flex;
    justify-content: center;
}

.barra-lateral {
    width: 660px;
    height: 440px;
    background-color: rgb(226, 141, 43);
    margin-left: 45px;
    margin-top: 25px;
    transition: transform 0.5s ease;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: 20%;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

.gallery img {
    width: 100%; /* Preenche completamente o contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
    margin-bottom: 10px;
}

.buy-button {
    margin-left: -10px; 
}
