body.index{
    margin:0;
    padding: 0;
    background-image: url(./img/pagina1/Fundo.jpg)
}
body.produtos{
    margin: 0;
    background-color: rgb(231, 231, 203);
}
body.carrinho{
    margin: 0;
    background-image: url(./img/pagina3/fundo.jpg);
}
a:visited {
    color: inherit; 

}
a:link {
    text-decoration: none; 
    color: white
}

nav {
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: space-between;
    background-color: rgb(97, 82, 67);
    color: white;
    font-size: small;
    position: fixed;
    top: 0;
    z-index: 1;
}
.page-carrinho{
    height: 80px;
    position: static;
}

nav ul {
    display: flex;
    float: right;
    margin: 25px;
    margin-top: 35px;
}

nav li {
    margin-left: 35px;
    list-style-type: none;
    margin-bottom: 15px;
    font-size: 0.9em;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
}
nav li:hover{
    border: 3px dotted rgb(180, 167, 180);;
    padding: 5px;
    padding-bottom: 20px;
    margin-top: -10px;
}
nav img{
    margin-top: 0;
    margin-left: 15px;
    height: 85px;
    width: 140px;
}
.produtos nav{
    background-color: transparent;
    position: static;
    z-index: 1;
}
#topo {
    display: flex;
    justify-content: space-between;
    height: 750px;
    width: 100%;

}
#topo #lado-esq{
   background-color: rgb(209, 195, 158);
    width: 55%;
    margin-right: 0;
}

#topo .top_article {
    width: 45%; 
    margin-top: 85px;
}
#topo #lado-esq h1{
    margin: 75px;
    margin-bottom: 15px;
    margin-top: 35px;
    width: 13em;
    text-align: justify;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.2em;

}
#topo #lado-esq p{
    margin-left: 75px;
    margin-top: 25px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bolder;
    font-size: 1.1em;
}

#topo .top_article img {
    height: 100%;
    width: 100%;
    
}
#topo .top_article button{
    margin-top: 55px;
    margin-left: 75px;
    height: 50px;
    width: 300px;
    border: 2px solid black;
    border-radius: 35px;
    background-color: rgb(110, 96, 57);
    color: white;
    cursor: pointer;
}
#topo .top_article button:hover{
    background: blueviolet;
}
#topo #lado-esq img{
    height: 35px;
    width: 65px;
    margin-top: 80px;
    margin-left: 65px;
}
.slogan {
    background-color: black;
    padding: 10px;
    color: rgb(196, 189, 174);
    height: 350px;
    padding-top: 60px;
}
.slogan article{
    text-align: center;
}
.slogan p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5em;
    margin-top: 65px;
    margin-left: 20em;
    margin-right: 20em;
    text-align: center;
    width: auto;
    border: 4px solid white;
    border-radius: 25px;
}
.slogan h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.2em;
    margin-top: 5px;
}

#but{
    margin-left: 38%;
    margin-top: 35px;
    height: 50px;
    width: 360px;
    border: 5px solid white;
    border-radius: 35px;
    background-color: rgb(54, 26, 26);
    color: white;
    cursor: pointer;
}
#but:hover{
    background: blueviolet;
}
.avalia {
    display: flex;
    margin-bottom: 5px;
    height: 900px;
    margin-bottom: 0;
    justify-content: space-between;
    background-color: rgb(223, 210, 98);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    
}
.sobre{
    display: flex;
    margin-bottom: 10px;
    height: 550px;
    justify-content: center;
    background-color: rgb(153, 148, 95);
    clip-path: polygon(0 0px, 100% 0, 100% 100%, 0 80%);
    
}
.sobre .centralizar{
    margin-left:10px;
    margin-top: 65px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8em;
    width: 45%;
    text-align: justify;
}
.centralizar p{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.6em;
    font-weight: bold;
}
.imagem{
    margin-top: 50px;
    margin-left: 12%; 
    border: 3px solid black;
    border-radius: 20px;
    height: 320px;
    padding: 20px;
}
.sobre img{
    height: 300px;
    width: 280px;
    border: 3px solid black;
    border-radius: 20px;
}
.avalia h3{
    margin-left:90px;
    font-size:large;
    margin-top: 37%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.7em;
    margin-bottom: 3px;
}

.avalia #lado p{
    margin-left: 90px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.1em;
    margin-top: 0;
    font-weight: bold;
}
.avalia #lado img{
    margin-left: 65px;
    margin-top: 90px;
}
#divi{
    margin-top: 20%;
    height: 55px;

}
#avaliacoes {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin-right: 13%;
    margin-top: 25%;

}
.avaliacao {
    width: 290px;
    text-align: center;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 35px;
    background-color: rgb(228, 228, 187);
    padding: 10px;
    height: 400px;
    margin:15px;
    font-size: 1.1em;
    
    
}
.avaliacao.hidden {
    display: none;
}
.avaliacao img {
    max-width: 55px;
    border: 3px solid black;
    border-radius: 35px;
    margin-top: 45px;
}

.avaliacao audio {
    width: 210px;
    height: 50px;
    margin-top: 60px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    
}

.avalia #botoes {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 65px;
    margin-left: -350px;
    margin-bottom: 75px;
}

.avalia #botoes button {
    background-color: rgb(54, 26, 26);
    border-radius: 100%;
    height: 25px;
    width: 25px;
}
footer{
    background-color: black;
    color: white;
    height: 320px;
    width: 100%;
    position: relative;
    clip-path: polygon(0 90px, 100% 0, 100% 100%, 0 100%);
    padding-top: 120px;
    margin-bottom: 0;
    margin: 0;
}
.footer{
    display: flex;
    justify-content: center;
}
footer h3{
    text-align: center;
}
footer ul{
    list-style-type: none;
    margin-left: -30px;
}
.espacamento{
    margin-left: 85px;
}
.footer.rodape i{
    font-size: 45px;
}
.copyright{
    text-align: center;
    margin-top: 95px;
}
.produto-header{
    position: relative;
    bottom: 85px;
    height: 35em;
    width: 100%;
    margin: 0;
    margin-right: -45px;
    margin-bottom: -120px;
    z-index: -1;
}
.alinhaembaixodafotodospaes{
    width: 100%;
    display: flex;
    justify-content: center;
}
.embaixoDaFoto{
    height: 85px;
    background-color: rgb(122, 81, 26);
    width: 50em;
    position: relative;
    z-index: 1;
    bottom: 25px;
    text-align: center;
    border: 2px solid wheat;
    border-radius: 25px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}
.destaque-produtos{
    background-color:  rgb(139, 123, 77);
    height: 540px;
    width: 100%;
    margin-bottom: -155px;
    clip-path: polygon(0 0px, 100% 0, 100% 100%, 0 80%);
    position: relative;
    display: flex;
    bottom: 70px;
    justify-content: center;
    padding-bottom: 100px;
}
.destaque-produtos h1{
    margin: 0;
    width: 25em;
    font-family: 'Bebas Neue', sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 90px;
    margin-left: 130px;
}
.alinhaembaixodafotodospaes p{
   position: relative;
   bottom: 10px;
}
.galeriadecimaAlinhar{
    justify-content: center;
}
.galeria-item{
    display: flex;
    position: relative;
    top: 150px;
}

.produto {
    margin-left: 95px;
    margin-top: 50px;
    height: auto;
}

.corpo {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.barra-lateral {
    min-width: 195px;
    height: 380px;
    background-color:  rgb(196, 173, 112);
    margin-left: 3em;
    margin-right: -70px ;
    margin-top: 75px;
    transition: transform 0.5s ease;
    border: 2px solid black;
    border-radius: 15px;
    
}
.barra-lateral h1{
    margin-left: 15px;
    width: 85%;
    text-align: center;
    border: 1px solid black;
}
.barra-lateral h3{
    margin-left: 15px;
    width: 75%;
    border-bottom: 2px solid black;
}

.barra-lateral li{
    position: relative;
    right: 25px;
    margin-right:15px ;
    list-style-type: none;;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom:1px solid black ;
}
.buscaResult{
    margin-left: 95px;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    width: 70%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-top: 35px;
}

.gallery-item {
    width: 230px;
    margin-top: 5px;
    margin: 8px;
    text-align: center;
    border: 2px solid rgb(172, 170, 170);
    border-radius: 40px;
    margin-bottom: 45px;
    height: 330px;
}

.gallery-item .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 25px;
}

.gallery-item:hover .card {
    transform: rotateY(180deg);
}


.gallery-item .card .frente {
    background-color: transparent;
    justify-content: center;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    align-items: center;
}

.gallery-item .card .tras {
    background-color:transparent;
    transform: rotateY(180deg);
    justify-content: center;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    align-items: center;
}

.gallery img {
    width: 180px;
    height: 180px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 40px;
}

.buy-button {
    margin-left: 5px; 
    background-color: rgb(188, 164, 211);
    width: 75px;
    height: 45px;
    border: 2px solid black;
    border-radius: 15px;
}

.gallery.hidden {
    display: none;
}
.pagination ul{
    list-style-type: none;
    display: flex;
    margin-left: -105px;
    justify-content: center;
}
.pagination li{
    border: 2px solid rgb(88, 87, 87);
    margin-left: 10px;
    width: 15px;
    padding: 5px;
    text-align: center;
}
.alinhamento{
    display: flex;
    align-items:center;
    height: 170px;
    background-color: rgb(109, 93, 50);
    margin-bottom: 45px;
}
.produto-confeitaria{
    width: 100%;
    height: 900px;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.produto-confeitaria img{
    height: 140px;
    width: 140px;
    margin: 25px;
}

.centralizaaa{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.section-container{
    background-color: rgb(231, 225, 213);
    height: auto;
    width: 77em;
    margin-top: 50px;
    margin-bottom: 85px;
    padding-top: 45px;
    border-radius: 20px;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    padding-bottom: 35px;
}
.linhaCima{
    display: flex;
    justify-content: space-between;
}
.linhaCima button{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 60px;
    margin-top: 25px;
    cursor: pointer;
}
.descricao-coluna{
    display: flex;
    justify-content: space-around;
    margin: 45px;
    margin-top: 0;
    border-bottom: 2px solid black;
}
.personalizacao-texto{
    border: 2px solid  rgb(170, 169, 169);
    width: 12em;
    border-radius: 25px;
    text-align: center;
}
#personalizacao-texto{
    border: 2px solid  rgb(170, 169, 169);
    width: 15em;
    border-radius: 25px;
    text-align: center;
}
.precos{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 50px;
    min-height: 170px;
    height: auto;
    width: 92%;
    background-color: rgb(235, 227, 227);
    border: 2px solid black;
    border-radius: 35px;
    padding-bottom: 10px;
    box-sizing: border-box;

}

.pagamento .total{
    margin-bottom: 15px;
}
.pagamento button{
    background-color: rgb(223, 44, 44);
    color: white;
    border: 2px solid rgb(219, 91, 91);
    border-radius: 25px;
    height: 45px;
    width: 135px;
    margin-right: 60px;
    cursor: pointer;

}
.pagamento button:hover{
    background-color: blueviolet;
    border: 2px solid blueviolet;
}
.pagamento-metodo{
    margin-left: 35px;
}
.pagamento-metodo p{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}
label{
    display: block;
}
.iconePagamento{
    height: 17px;
    width: 17px;
}
.section-container h3{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bolder;
    font-size: 33px;
    margin-left: 45px;
    margin-top: 5px;
}
.itens{
    margin-top: 2em;;
    margin-left: 45px;
    min-height: 45px;
    height: auto;
    width: 90%;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #a8a6a6;
    border-radius: 5px;
}


.itens #adicionar{
    margin-left: 36em;
    border-radius: 35px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.itens-compra{
    display: flex;
    margin-top: 25px;
    margin-bottom: 10px;
    
}
.nome-item{
    display: flex;
}

.nome-produto-texto{
    margin-left: 2px;
    margin-top: 25px;
    font-size: 1.2em;
    width: 120px;

}
.nome-item img{
    height: 75px;
    width: 75px;
    margin-right: 25px;
    margin-left: 45px;
    border: 1px solid black;
    border-radius: 10px;


 }
.quantidade-input{
    position: relative;
    left: 7px;
    width: 20px;
    height: 25px;
    background-color: transparent;
    text-align: center;
    
}
#quantidadeInput{
    width: 65px;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: 135px;
    background-color: transparent;
}
select{
    margin-left: 25px;
    background-color: transparent;
    height: 30px;
    border: 2px solid black;
    border-radius: 15px;
}
.quantidade-container{
    display: flex;
    margin-left: 120px;
    margin-top: 5px;
}
.valor-unitario{
    position: relative;
    left: 190px;
}
.remover{
    position: relative;
    left: 32em;
    background-color: rgb(219, 91, 91);
    margin-top: 10px;
    color: white;
    height: 25px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}
.remover:hover{
    background-color: blueviolet;
}
